*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{background-color: #ffc475;}
#central-container{
    margin: auto auto;

}
.container{
    background-color: #ffc475;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 300px;
    margin: auto;
    justify-content: center;
    max-height: 250px;
    text-align: center;
}
h1{
    color: whitesmoke;
}
.square{
    background-color: #ffffff;
    margin: 1rem ;
    float: left;
    width: 14rem;
    height: 10rem;
    cursor: pointer;
    transition: background 0.6s;
	-webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    text-align: center;
   
}
.square-border{
    border-style:groove;
    border-color: white;
    border-radius: 1rem;
    border-width: .5rem; 
    transition: 0.6s;
	-webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}  
.button{
    height: 4rem;
    width: 5rem;
    display: inline-block;
    border:0.2em solid #ffffff;
    box-sizing: border-box;
    color:whitesmoke;
    text-align:center;
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    margin-left: .5rem;
}
.button:hover{
    border:0.15em solid #ffffff77;
    cursor: pointer;
}
.button-text{
    text-align: center;
    font-size: large;
    display: inline-block;

}
.selected{
    background-color: white;
    color:#ffc475;
}
.main-control{
    max-width: 50vw;
    margin-right: auto;
    margin-left: auto;
    max-height: 19vh;
    text-align: center;
    padding-bottom:20rem ;
}
.button-lineup{
    padding-top: 2rem;
}
#h1-display{
    margin: auto auto;
    width: 350px;
    margin-top: .5rem;
    height: 7rem;
    padding-bottom: 2rem;
    border-style:solid;
    border-color: white;
    border-width: .2rem; 
}
#color-display{
    color: white;
    margin-top: .5rem;
}
#score-message{
    display: block;
    padding-top: 10px;
}